/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  height: 60px;
}

.header-inner {
  width: 340px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-inner__left p {
  display: none;
}

.header-inner__right__tel {
  display: none;
}

.header-inner__right__lists {
  display: none;
}

.header-inner__right span {
  background-color: #000;
  display: block;
  width: 30px;
  height: 1px;
  margin-bottom: 9px;
}

.header-inner__right span:last-child {
  margin-bottom: 0;
}

.main-img img {
  width: 100%;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

h2 {
  text-align: center;
  font-size: 18px;
}

.gray {
  background-color: #FFD5B6;
}

.main-inner {
  width: 340px;
  margin: 0 auto;
}

.main-inner__top {
  padding: 25px 0;
}

.main-inner__top__list {
  width: 195px;
  margin: 0 auto;
  margin-top: 36px;
}

.main-inner__top__list img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.main-inner__top__list .title {
  text-align: center;
  margin: 12px 0;
}

.main-inner__top__list .desc {
  line-height: 1.1em;
  margin-bottom: 20px;
}

.main-inner__top__list .btn {
  font-size: 12px;
  padding: 8px 23px;
  border-radius: 14px;
  display: block;
  margin: 12px auto 0 auto;
  background-color: #fff;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.main-inner__top__list .btn:hover {
  background-color: #FC8B37;
  color: #fff;
}

.main-inner__middle {
  margin: 25px 0;
}

.main-inner__middle p {
  margin-top: 8px;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
}

.main-inner__middle p .desc {
  width: 195px;
  height: 102px;
}

.main-inner__middle ul {
  width: 298px;
  margin: 26px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-inner__middle ul li {
  margin-bottom: 10px;
}

.main-inner__middle ul li img {
  width: 128px;
  height: 34px;
  border: 1px solid #eee;
  cursor: pointer;
}

.main-inner__middle ul li img:hover {
  opacity: 0.7;
}

.main-inner__bottom {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 18px 0;
}

.main-inner__bottom__list {
  width: 195px;
  height: 34px;
  background-color: #40A2F5;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  line-height: 34px;
  margin: 0 auto 13px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.main-inner__bottom__list:last-child {
  margin-bottom: 0;
}

.main-inner__bottom__list:hover {
  background-color: #79BBF3;
}

.last {
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  width: 100%;
  background-color: #D7E3F3;
}

footer {
  width: 100%;
  background-color: #343434;
  color: #fff;
  height: 48px;
  font-size: 8px;
  line-height: 48px;
}

.footer {
  width: 340px;
  margin: 0 auto;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 13px;
}

.footer .footer-lists {
  margin-left: 16px;
}

.footer .footer-lists .footer-list {
  display: none;
}

@media screen and (min-width: 840px) {
  header {
    height: 108px;
  }
  .header-inner {
    width: 800px;
    padding-top: 10px;
  }
  .header-inner__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-inner__left h1 {
    font-size: 23px;
  }
  .header-inner__left p {
    font-size: 13px;
    display: block;
    margin-left: 24px;
    font-weight: 300;
  }
  .header-inner__right {
    margin-top: 10px;
  }
  .header-inner__right__icon {
    display: none;
  }
  .header-inner__right__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    width: 223px;
  }
  .header-inner__right__tel p {
    font-size: 22px;
  }
  .header-inner__right__tel img {
    width: 30px;
    height: 30px;
  }
  .header-inner__right__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 16px;
    font-weight: 300;
    margin: 30px 50px 0 0;
  }
  .header-inner__right__lists li {
    margin-left: 38px;
  }
  .header-inner__right__lists li:first-child {
    margin-left: 0;
  }
  .main-inner {
    width: 800px;
  }
  .main-inner__top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-inner__middle ul {
    width: 800px;
  }
  .main-inner__middle ul li img {
    width: 188px;
    height: 50px;
  }
  .main-inner__bottom__lists {
    width: 800px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer {
    height: 210px;
  }
  .footer-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-inner .footer-lists .footer-list-title {
    font-size: 16px;
    margin: 16px 0 22px 0;
    height: 16px;
  }
  .footer-inner .footer-lists .footer-list {
    display: block;
    height: 13px;
    margin-bottom: 7px;
  }
}
/*# sourceMappingURL=style.css.map */